*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
}

.card__title{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.card__description{
    width: 200px;
}

.cards{
    width: 90%;
    height: 500px;
    margin: 200px auto;
    font-size: 0;
}

.card{
    display: inline-block;
    text-align: left;
    width: 300px;
    height: 100%;
    padding-top: 3em;
    padding-left: 2em;
    font-size: 1rem;
    color: hsl(0 0% 100% / .75);
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
}

.card:hover{
    border: 1px solid black;
}
.card--orange{
    background-color: hsl(31, 77%, 52%);
}

.card--cyan{
    background-color: hsl(184, 100%, 22%);
}

.card--dark-cyan{
    background-color: hsl(179, 100%, 13%) ;
}

.card__cta{
    position: absolute;
    padding: .7em 2em;
    border-radius: 1.2em;
    background-color: #fff;
    text-decoration: none;
    bottom: 50px;
}

.card__cta:hover{
    border: 1px solid black;
}

.card__cta--orange{
    color: hsl(31, 77%, 52%;)
}

.card__cta--cyan{
    color: hsl(184, 100%, 22%);
}

.card__cta--dark-cyan{
    color: hsl(179, 100%, 13%) ;
}
